*,
*:after,
*:before {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    border: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

h1 {
    border: 0;
    margin: 0;
}

.wrapper {
    height: 100%;
    width: 100%;
    background-color: #BBB;
}

.welcome-screen {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #1f1f1f;
    position: relative;
}

.main header {
    height: 80px;
    background-color: #282828;
    padding: 1rem;
    color: #FFF;
}

.main .content {
    flex:1;
    background-color: #1f1f1f;
}

.main footer {
    height: 80px;
    background-color: #282828;
    padding-top: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.player-buttons {
    display:flex;
    font-size: 2.5rem;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.right.floated {
    float: right;
}

.clickable {
    cursor: pointer;
}

.error {
    border: 2px solid red;
}

.progress-wrapper {
    margin-top: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-wrapper span {
    color: #959595;
}

.player-progress {
    height: 8px;
    width: 700px;
    background-color: #3d3d3d;
    border-radius: 4px;
    margin-right: 6px;
    margin-left: 6px;
}

.progress-filled {
    background-color: #959595;
    height: 8px;
    border-radius: 4px;
    width: 0;

}

.main .content {
    margin: 10px;
    width: 800px;
    /*margin: 2rem auto;*/
    display: inline-block;
    font-size: 17px;
}

.list-headers {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}

.list-headers > div {
    width: 130px;
    display: inline-block;
}

.list-headers > div:first-child {
    width: 340px;
}

.list-headers > div:last-child {
    text-align: right;
}

.song-list .song {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    min-height: 30px;
    cursor: pointer;
    float: left;
}

.song > span {
    display: inline-block;
    width: 140px;
    height: 1rem;
}
.song > span:first-child {
    width: 330px;
    padding-left: 0;
}

.song .song-duration {
    text-align: right;
}

.song-list .song:hover {
    background-color: #282828;
}


.song-length {
    text-align: right;
}
.song-name {
    text-align: center;
}
.main .current-date{
    float: right;
    padding: 10px;
}
.main #goback-btn{
    float: left;
    padding: 10px 30px 10px 30px;
    border-radius: 15px;
    background-color: #1db954;
    border: none;
    box-shadow: none;
    color: white;
}
.song-list .song-artist{
    color: white;
}
.content {
    position: relative;
}

.current-song-wrapper{
    position: absolute;
    bottom: 90px;
    display: flex;
    left: 250px;
}
.current-song-wrapper p{
    font-size: 17px;
}
.current-song-image{
    height: 100px;
    width: 100px;
    margin-right: 1rem;
}
.current-song-name{
    font-size: 1.4rem;
    margin-top: 4px;
    margin-bottom: 0;
}
.current-song-album{
    margin-top: 0.4rem;
}
.song-lyrics{
    display: none;
}
.playlist{
    margin-top: 10px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    font-size: 17px;

    height: 100%;
}
.margin-zero{
    margin: 0 !important;
    width: 100% !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.middle-area{
    width:100% ;
    height: 100%;
    margin: 0 !important;
    right: 20px !important;
}
.lyrics{
    font-size: 17px;
    margin-top: 10px;
    padding: 0 5px 0 0!important;
}

.playlist .nav-pills a{
    color: white ;
}
.playlist .nav-pills a:hover{
    background-color: black !important;
}
.nav-pills .active a {
    padding-right: 112px;
    background-color: black !important;
}
.nav-pills li{
    margin: 1px;
}
.song-section{
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 10px;

}
.playlist h3{
    margin-left: 15px;
}
.lyrics h1{
    margin-left: 25px;
}
.song_video > body{
    margin: 0 !important;
}
#s